@model LinkExchange.Models.UserModel

<div class="Profile">
    <h3>Ваш профиль: </h3>
    <h6>
    Id = @Model.Id
    </h6>
    <br>
    <h6>
        Username = @Model.Username
    </h6>
    <br>
    <h6>
        CreatedDate = @Model.CreatedDate


    </h6>
</div>
